<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anesa.test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Logga in -->
        <activity
            android:name="activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <!-- Logga ut -->
        <activity
            android:name="activity.LoggaUtAct"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <!-- HuvudMeny -->
        <activity
            android:name="activity.HuvudMenyAct"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- Kamera -->
        <activity
            android:name="camera.C_Activity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            />

        <!-- Nytt recept -->
        <activity
            android:name="activity.NyttReceptAct"
            android:label="Nytt Recept"
            android:screenOrientation="portrait">
        </activity>

        <!-- ReceptVy -->
        <activity
            android:name="activity.ReceptAct"
            android:label="EatWit"
            android:screenOrientation="portrait">
        </activity>

        <!-- Mina Recept -->
        <activity
            android:name="activity.ReceptMenyAct"
            android:label="Recept Meny"
            android:screenOrientation="portrait">
        </activity>

        <!-- Alla mina recept -->
        <activity
            android:name="activity.AllaMinaReceptAct"
            android:label="Mina Recept"
            android:screenOrientation="portrait">
        </activity>

        <!-- Alla recept -->
        <activity
            android:name="activity.AllaReceptAct"
            android:label="Alla Recept"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

    </application>

</manifest>
